<div id='settings-detail'>
  <h5><%=t :every_file_shown_here_becomes_an_item_in_slide%></h5>
  <%= render partial: 'uploads/upload_form', locals: {id: '0', ratio: '40/13', class_name: 'Agency', type:'slider'}%>
</div>
