<div class="row">
  <div class="col-md-4">
    <div class="list-group list-group-transparent mb-4 text-center">
      <%= link_to '/blogs/new', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-plus-square" style="vertical-align:middle;"></i> <%=t :add_new_blog%>
      <%end%>
    </div>
  </div>
</div>


<div class="row row-cards row-deck">
  <% for blog in @blogs%>
  <div class="col-sm-4 col-xl-3">
    <%= render partial: 'blogs/blog_block', locals: {blog: blog}%>
  </div>
  <%end%>
</div>
