<div class="row">
  <div class="col-md-4">
    <div class="list-group list-group-transparent mb-4 text-center">
      <%= link_to '/tour_packages/new', class: "list-group-item list-group-item-action active small", style:'font-weight:normal;' do%>
      <i class="fe fe-plus-square" style="vertical-align:middle;"></i> <%=t :add_new_tour_package%>
      <%end%>
    </div>
  </div>
</div>


<div class="row row-cards row-deck">
  <% for tour_package in @tour_packages%>
  <div class="col-sm-4 col-xl-3">
    <%= render partial: 'tour_packages/tour_package_block', locals: {tour_package: tour_package}%>
  </div>
  <%end%>
</div>
