<div class="row row-cards row-deck">
  <% for tour_package in @tour_packages%>
  <div class="col-sm-4 col-xl-3">
    <%= render partial: 'tour_packages/tour_package_block', locals: {tour_package: tour_package}%>
  </div>
  <%end%>
</div>
