<div class="card">
  <div class="card-body">
    <%= render partial: 'uploads/upload_form', locals: {id: params[:id], ratio: '4/3', class_name: 'TourPackage', type:'tour_package_attachment'}%>
  </div>
  <div class="card-footer text-right">
    <a href='/tour_packages/<%= @tour_package.id%>' class="btn btn-success"><%=t :submit_and_view%></a>
  </div>
</div>
