<div class="page">
  <header class="header js-header">
    <div class="container">
      <div class="d-flex align-items-center position-relative">
        <a href="/" class="logo">
          <img src="" alt="">
          <div>

          </div>
        </a>
        <a class="header-menu-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </a>
        <nav class="mr-auto header-nav d-none d-md-block">
          <a href="/users/sign_in" class="btn btn-sm"><i class="fe fe-log-in" style='vertical-align: -5px;'></i> <%=t :login%></a>
        </nav>
      </div>
    </div>
  </header>
  <header class="header header-sticky js-header">
    <div class="container">
      <div class="d-flex align-items-center position-relative">
        <a href="/" class="logo header-sticky">
          <img src="/img/tabler.svg" alt="Tabler UI Kit">
          <div>
            tabler
          </div>
        </a>
        <a class="header-menu-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </a>
        <nav class="ml-auto header-nav d-none d-md-block">
          <a href="https://preview.tabler.io">Demo</a>
          <a href="https://github.com/tabler/tabler">Source code</a>
          <a href="/emails" class="btn btn-sm">Tabler Email</a>
        </nav>
      </div>
    </div>
  </header>

  <main class="main">
    <section class="welcome" aria-label="Page header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 text-center text-lg-left welcome-bg pr-lg-5">
            <h1 class="welcome-title">Admin panel made simple. For Free!</h1>
            <p class="welcome-description">
              Premium and Open Source dashboard template with responsive and high quality UI.
            </p>

            <div class="mt-5">
              <a href="https://gum.co/tabler" class="btn btn-green" target="_blank">Download</a>
              <a href="https://preview.tabler.io" class="btn btn-secondary ml-2">Browse demo</a>
            </div>
          </div>
          <div class="col-lg-6 pt-6 pt-lg-0">
            <div class="welcome-image welcome-image-2">

              <div class="device device-macbook-pro device-spacegray">
                <div class="device-frame">
                  <picture>
                    <img src="/img/dashboard-preview.png" alt="Preview of tabler dashboard" class="preview-image img-responsive">
                  </picture>
                </div>
                <div class="device-stripe"></div>
                <div class="device-header"></div>
                <div class="device-sensors"></div>
                <div class="device-btns"></div>
                <div class="device-power"></div>
              </div>

              <div style="bottom: 15%; left: 3%" class="image-label image-label-bottom d-none d-xl-block"><span>For free!</span></div>
              <div style="top: 20%; right: 3%" class="image-label image-label-right d-none d-xxl-block"><span>Look great in every browser</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" aria-label="Base features">
      <div class="container">
        <h2 class="h3 section-title text-center mb-6">Tabler comes with tons of<br>well-designed components and features.</h2>

        <div class="row align-items-center justify-content-center">
          <div class="col-10 col-md-5 pr-md-5 mb-5 mb-md-0">
            <img src="/img/tabler-features.png" alt="" class="img-responsive">
          </div>
          <div class="col">

            <div class="row">

              <div class="col-12 mb-5 d-flex">
                <div class="icon icon-gray mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M216.8 0H40v192H0v64h256v-64h-39.2V0zm-16 240H75.2l68-104L64 16h137.6v224h-.8zM124 136L56 239.2V33.6L124 136zM16 208h24v32H16v-32zm224 0v32h-23.2v-32H240z"></path><path d="M160 32h16v64h-16z"></path></svg>
                </div>
                <div>
                  <h3 class="h5">Coded by Developers for Developers</h3>
                  <p class="text-muted m-0">
                    Clear and telling code that you won't get lost in. It was made with care and loves so that you don't have to spend hours on making it work ❤️
                  </p>
                </div>
              </div>

              <div class="col-12 mb-5 d-flex">
                <div class="icon icon-gray mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 232"><path d="M132.8 32h-1.6V0H112L43.2 72.8v22.4L112 168h19.2v-32H144c52.8 0 96 43.2 96 96h16v-76.8C256 87.2 200.8 32 132.8 32zM240 174.4c-20-33.6-56.8-54.4-96-54.4h-28.8v28l-56-59.2v-9.6l56-59.2v28h17.6C192 48 240 96 240 155.2v19.2z"></path><path d="M16 77.6L78.4 12 67.2.8 0 71.2v25.6L75.2 176l12-11.2L16 90.4z"></path></svg>
                </div>
                <div>
                  <h3 class="h5">Open Source Code</h3>
                  <p class="text-muted m-0">
                    You can see the code of Tabler on its GitHub account. If you miss any feature feel free to create a pull request there, we'll definitely check it.
                  </p>
                </div>
              </div>

              <div class="col-12 mb-5 d-flex">
                <div class="icon icon-gray mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 240"><path d="M216 120c-8.8 0-16.8 3.2-24 8-17.6-13.6-42.4-9.6-56 8-12 16-10.4 37.6 3.2 52l48.8 52h8l51.2-55.2c5.6-7.2 8.8-16 8.8-24.8 0-22.4-17.6-40-40-40zm19.2 54.4L192 220.8l-40.8-44c-9.6-9.6-9.6-24.8 0-33.6 9.6-9.6 24.8-9.6 33.6 0 .8.8.8.8.8 1.6l6.4 7.2 6.4-7.2c4.8-5.6 11.2-8 17.6-8 13.6 0 24 10.4 24 24 0 4.8-1.6 9.6-4.8 13.6z"></path><path d="M112 144H16V24l112 73.6 112-74.4V112h16V0H0v160h112v-16zm16-65.6L33.6 16h188.8L128 78.4z"></path></svg>
                </div>
                <div>
                  <h3 class="h5">Build with Bootstrap</h3>
                  <p class="text-muted m-0">
                    Tabler used Bootstrap, the most popular HTML, CSS, and JS framework. Thanks to this developers without experience can modify code without any problems
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!--<div class="mb-xl-4 text-center text-lg-left">-->
        <!--<a href="#" class="btn btn-white">See all features</a>-->
        <!--</div>-->
      </div>
    </section>

    <section class="section bg-light">
      <div class="container text-center">
        <h2 class="section-title mb-2">Ready to download?</h2>
        <p class="section-description">
          Start your adventure with Tabler and make your dashboard great again. For free!</p>
          <div class="mt-4">
            <a href="https://gum.co/tabler" class="btn btn-green" target="_blank">Download</a>
            <a href="https://preview.tabler.io" class="btn btn-secondary ml-2">See demo</a>
          </div>
        </div>
      </section>




      <div class="modal js-modal hidden" style="display:none;">
        <div class="modal-overlay"></div>
        <div class="modal-content">
          <a href="#" class="modal-close js-modal-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </a>
          <a href="/emails/">
            <img src="/img/thumbs/promo-800.png" srcset="/img/thumbs/promo-800@2x.png 2x" alt="" class="modal-content-image">
          </a>
        </div>
      </div>

    </main>

    <footer class="footer">
      <div class="container">
        <div class="row text-center text-lg-left">
          <div class="col-lg-6">
            <p>© 2018 Project maintained by <a href="https://codecalm.net" class="text-inherit">codecalm.net</a></p>
          </div>
          <div class="col-lg-6 text-lg-right">
            <a href="/privacy-policy.html">Privacy Policy</a>
            <a href="/terms-of-service.html">Terms of usage</a>
          </div>
        </div>
      </div>
    </footer>

  </div>
