<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <%=t :your_reservation_is_completed%>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <%= link_to "/", class: 'btn btn-success' do%>
        <%=t :back%>
        <%end%>
      </div>
    </div>
  </div>
</div>
