<div id='airlines-list'>
  <table class="table table-hover table-outline">
    <%for airline in Airline.all%>
    <tr>
      <td><%= airline.name%></td>
      <td>
        <div class="tag tag-dark" style='vertical-align: 6px;'>
          <%= airline.tours.count %>
          <span class="tag-addon tag-success"><i class="fe fe-box" style="vertical-align: -3px;"></i></span>
        </div>
      </td>
    </tr>
    <%end%>
  </table>
</div>
