<div class="card">
  <a href="/advertisements?category_id=<%= category.id%>"><img class="card-img-top" src="<%= category.cover('medium')%>" alt=""></a>
  <div class="card-body d-flex flex-column p-1 text-center">
    <h6 class="mb-2 mt-2"><a href="#"><%= category.title%></a></h6>
  </div>
</div>
